body {
  margin: 0;
  padding: 0;
}
button {
  color: #fff;
}
.primary {
  background: rgb(6, 135, 199);
}
.primary-clr {
  color: rgb(6, 135, 199);
}
.header {
  border-bottom: 1px solid #cddded;
  padding: 0;
  margin: 0;
}
.container {
  min-width: 220px;
}
.card-user {
  padding-top: 20px;
}
nav .navbar {
}
.navbar-header {
  width: 300px;
  margin: 0;
  padding: 0;
}
.logo {
  width: 200px;
  height: 40px;
  background: url(./images/logo.jpeg) no-repeat;
}
.mobile-search {
  display: none;
}
.btnMobileSrch {
  display: none;
}

.desktop-search {
  margin-top: 5px;
  width: 30%;
}
.search-form {
  width: 100%;
  background: #eee;
  border-radius: 80px;
}
.search-form input {
  background: transparent;
  border: none;
  border-radius: 80px;
  padding: 5px 10px;
  font-size: 14px;
  width: 85%;
  color: #111;
}
.search-form button {
  border: none;
}
.navbar-right {
  margin-top: 5px;
  width: 300px;
}
.navbar-right a {
  margin-right: 20px;
  margin-top: 5px;
  float: left;
  width: 100px;
  margin-right: 40px;
}
.navbar-right a:last-child {
  margin: 0;
}
.page-wrapper {
  margin-top: 0px;
  background: #fff;
}
.content {
  border-left: 15px solid rgb(192, 192, 240);
  border-right: 1px solid rgb(183, 183, 240);
  min-height: 200px;
  padding: 0;
}
.backlink {
  display: block;
  padding: 10px 0 20px 0;
}
.content-wrapper {
  padding: 0 20px;
}
.Rsidebar {
  padding: 0px;
}
.Lsidebar {
  padding: 0px;
}
.noborder {
  border: none;
}

:double-button {
  border: none;
}
a:link,
a:hover,
a:active {
  color: #111;
  text-decoration: none;
}
.tweet-author {
  font-size: 12px;
  font-weight: bold;
  /* float: left;
  min-width: 100px;
  height: 25px;
  padding: 0; */
}
.card_item_wrapper a {
  color: #111;
}
button,
.btn {
  border-radius: 100px;
}
.logo:hover,
.logo.active {
  text-decoration: none;
}
.home-wrapper {
  width: 100%;
}
.home-wrapper .welcome-text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 100px;
}
/* .add-tweet-panel {
  font-size: 20px;
} */
.add-tweet {
  padding: 0;
  width: 90%;
  height: 280px;
  float: left;
}
.add-tweet-full {
  padding: 0;
  border-bottom: 14px solid #ccc;
  height: 580px;
}
.input-tweet {
  width: 80%;
}
.add-tweet input,
.add-tweet textarea,
.add-comment input {
  border: none;
}
/*file upload */
.file_upload_wrapper {
  width: 70%;
  float: left;
}
.tweet-btn-wrapper {
  width: 30%;
  float: right;
}
textarea {
  font-size: 20px;
}
.border-top {
  border-top: 10px solid rgb(219, 219, 219);
}
/* CARD ITEM          */
.card_item_wrapper {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-width: 500px;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.card-text-det {
  margin: 0 15px;
}
.tweet-detail {
  margin: 0 45px;
}
.tweet-detail .actions {
  width: 50%;
  float: left;
  margin-top: 10px;
}
.tweet-detail .edit-buttons-wrapper {
  width: 50%;
  float: left;
}

.card_item_wrapper .card-text {
  padding: 0;
}
.image {
  width: 100%;
  height: 300px;
  background-position: center !important;
  background-size: cover !important;
  margin: 0;
  margin-top: 5px;
}
.card-text-det .image {
  margin: 0 15px 10px 15px;
}
.avatar-wrapper {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.avatar-wrapperL {
  float: left;
  width: 40px;
  height: 60px;
  margin: 0 15px;
}
.tweet-item-wrapper {
  float: left;
  width: 90%;
  height: 20px;
  margin-top: 5px;
}
.author-wrapper {
  padding-top: 3px;
}
.card-detail-image {
  margin: 0 15px;
}
.avatar {
  width: 34px;
  height: 30px;
  background-position: center !important;
  background-size: cover !important;
  margin: 0 10px 10px 0;
  border-radius: 100px;
  float: left;
  border: 1px solid #aaa;
}
#avt-head {
  margin-top: 5px;
  width: 22px;
  height: 20px;
}
#avt-med {
  width: 40px;
  height: 40px;
}
#avt-sm {
  width: 26px;
  height: 26px;
}
#avt-lg {
  width: 60px;
  height: 60px;
}
.tweets-wrapper {
  margin: 0;
  padding: 0;
}
.card_item_wrapper .tags {
  position: relative;
}
.card_item_wrapper .tags .prod_info {
  padding: 5px 0;
}
.cart_item_wrapper .tags .prod_info a {
  color: rgb(6, 77, 170);
}
.item-text {
  color: gray;
}
.card_item_wrapper .tags .brand,
.card_item_wrapper .tags .name,
.card_item_wrapper .tags .price {
  text-align: left;
  margin: 5px;
}

.card_item_wrapper .tags .brand {
  font-size: 17px;
  font-weight: 700;
  color: #2196f3;
}

.card_item_wrapper .tags .name {
  font-size: 21px;
  font-weight: 700;
}

.card_item_wrapper .tags .price {
  font-weight: 300;
  font-size: 21px;
}

.card_item_wrapper .actions {
  /* clear: left;
  display: flex;
  padding: 0x;
  font-size: 12px;
  color: gray;
  margin-top: 10px; */
  width: 100%;
  margin-top: 10px;
  padding: 0px 40px;
  font-size: 14px;
  color: #41547e;
  border-top: 1px;
}
.card_item_wrapper .actions .button_wrapp button {
  border: none;
  background: transparent;
}
.card_item_wrapper .actions .button_wrapp:nth-child(1) {
  width: 60px;
  padding-right: 10px;
}

.card_item_wrapper.grid_bars {
  float: none;
  width: 100%;
  display: flex;
}

.card_item_wrapper.grid_bars .image {
  width: 100%;
  height: 211px;
  border: none;
  margin: 10px 0;
}

.card_item_wrapper.grid_bars .action_container {
  flex-grow: 1;
  border: 1px solid #e6e6e6;
}

.card_item_wrapper.grid_bars .description {
  clear: both;
  padding: 0px 25px;
  border-top: 1px solid #eeeeee;
}

.card_item_wrapper.grid_bars .tags {
  border-bottom: 0px;
  padding: 5px 20px;
}

.card_item_wrapper.grid_bars .tags .brand {
  font-size: 21px;
}

.card_item_wrapper.grid_bars .tags .brand,
.card_item_wrapper.grid_bars .tags .name {
  float: left;
}
.comments {
  width: 100%;
  clear: left;
  font-size: 14px;
  margin: 0;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.add-comment {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.add-comment textarea {
  color: #111;
  font-size: 14px;
  border: none;
  width: 80%;
}
.add-comment button {
  float: right;
}
.has-error {
  color: red;
}
.user-page {
  padding: 0 25px;
}
.buttons a {
  border-radius: 100px;
  margin-right: 5px;
}
.user-edit-buttons {
  padding: 10px 0;
}
.user-edit-buttons a {
  margin-right: 5px;
  color: #fff;
}
.tweet-cmds {
  float: right;
  margin-right: 20px;
}
.btnWide {
  width: 200px;
  margin-bottom: 10px;
}
.btnMed {
  width: 80px;
  border: none;
  padding: 6px;
  margin-bottom: 10px;
  background: rgb(6, 77, 170);
}
.btnDefault {
  border: 1px solid rgb(6, 77, 170);
  color: blue;
  background: #fff;
}
.btnAddTweet {
  display: none;
}

.chat-date {
  color: gray;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 20px 0;
}
.desktop-categories {
  display: block;
}
a.chat-text {
  font-size: 18px;
  padding: 0;
  margin: 0;
  clear: left;
  width: 100%;
  padding: 0 40px;
}
.chat-text-det {
  font-size: 22px;
  padding: 0;
  margin: 0;
  clear: left;
  width: 100%;
  display: block;
  padding: 0 40px;
}
.comment-text-det {
  font-size: 16px;
  padding: 0;
  margin: 0;
  clear: left;
  width: 100%;
  display: block;
  padding: 0 32px;
}
.usertweets {
  margin-top: 30px;
}
.tweet-user-section {
  clear: left;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 10px 0;
}
.tweet-user-buttons {
  width: 200px;
  margin-left: 0px;
  margin-bottom: 10px;
  height: 40px;
  padding: 0;
}
.tweet-user-buttons .button_wrap {
  width: 50%;
  height: 20px;
  padding: 0;
  margin: 0;
  float: left;
}
a.tag-link {
  color: #555;
  margin: 10px 5px;
}
.like_link {
}
.tweet-user-buttons .button_wrap button {
  border: none;
  background: transparent;
}
.add-comment {
  margin: 0px;
}
.user-tweets {
  margin: 0 20px;
}
.desktop-categories {
  padding: 20px;
}
.category-card ul li {
  font-size: 20px;
}
.category-card ul li a {
  color: #111;
  text-decoration: none;
}
.user-card {
  padding-top: 20px;
}
.userlinks li a,
.userlinks li a:visited,
.userlinks li a:hover,
.userlinks li a:active,
.card-user .username {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
}
.form {
  padding: 0 30px;
}
.form .form-header {
  padding: 20px 0;
}
.form input {
  border: none;
  background: #eee;
  padding: 20px 15px;
}
.form .btn-login {
  width: 45%;
  margin-right: 15px;
}
.form .btn-login:last-child {
  margin: 0;
}
.form #upl-avatar {
  min-height: 50px;
}
.form-cmds {
  clear: left;
  width: 100%;
  padding-top: 40px;
}
.btnHome {
  width: 100%;
  margin-bottom: 20px;
}
.error-space {
  height: 25px;
  display: block;
}
.mobile {
  display: none;
}
.desk {
  display: block;
}
.btnFollow {
  float: right;
  width: 90px;
}
.user-item-wrapper {
  float: left;
  width: 40%;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
}
@media (min-width: 991px) and (max-width: 1000px) {
  .desktop-search {
    width: 300px;
  }
  .card_item_wrapper {
    width: 90%;
  }
  .mobile {
    display: none;
  }
  .desk {
    display: block;
  }
}
@media (min-width: 771px) and (max-width: 990px) {
  .header {
  }
  .navbar-header {
    width: 200px;
  }
  .navbar-right {
  }
  .navbar-right a {
  }
  .navbar-right a:last-child {
    width: 40px;
  }
  .Lsidebar {
    display: block;
  }
  .Rsidebar {
    display: none;
  }
  .content {
    border-right: none;
  }
  .desktop-categories {
    display: block;
  }
  .content {
    min-width: 72%;
  }
  .desktop-search {
    width: 30%;
  }
  .card_item_wrapper {
    width: 90%;
  }
  .btnWide {
    width: 100px;
    margin-bottom: 10px;
  }
  .mobile {
    display: none;
  }
  .desk {
    display: block;
  }
}
/*@media (min-width: 581px) and (max-width: 770px) {
  .container {
  }
  .Lsidebar {
    display: none;
  }
  .user-card {
    display: none;
  }
  .desktop-search {
    display: block;
    width: 200px;
  }
  .content {
    min-width: 70%;
    float: left;
  }
  .card_item_wrapper {
    min-width: 80%;
  }
  .Rsidebar {
    min-width: 140px;
    background: #eee;
    margin-left: 20px;
  }
  .category-card ul li {
    font-size: 16px;
  }
} */

@media (max-width: 770px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #fff;
  }
  .header .container {
    width: 95%;
    margin: 0 15px;
  }
  h4 {
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .categories-wrapper h4 {
    margin-left: 0;
    margin-top: 20px;
  }
  .navbar-header {
    width: 60px;
    margin-left: 25px;
    float: left;
  }
  a.logo {
    width: 60px;
  }
  .navbar-right {
    width: 200px;
    float: right;
  }
  .navbar-right a {
    margin-top: 5px;
    width: 40px;
    float: left;
    margin-right: 10px;
  }
  .nav-link-lbl {
    display: none;
  }
  .page-wrapper {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  .page-wrapper .card-text {
    margin: 0 15px;
  }
  .tweet-wrapper {
    margin: 0;
    padding: 0;
  }
  .tweets-wrapper {
    margin: 0;
    padding: 0;
    clear: left;
  }
  .row {
    margin: 0;
    padding: 0;
  }
  .Lsidebar {
    display: block;
  }
  .Rsidebar {
    display: none;
  }
  ul.userlinks li,
  .card-user {
    margin-left: 10px;
  }
  ul.userlinks li a,
  ul.userlinks li a:hover {
    font-size: 16px;
  }
  .card-user .username {
    font-size: 14px;
  }
  .desktop-categories {
    display: none;
  }
  .btnWide {
    width: 100px;
    margin-bottom: 10px;
  }
  .content {
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  .content-wrapper {
    margin: 0;
    border-top: none;
  }
  .card_item_wrapper {
    width: 100%;
    min-width: 100px;
    margin: 0;
    padding: 10px 0;
    background: #fff;
  }
  .card_item_wrapper:first-child {
    border-top: none;
  }

  .card_item_wrapper .card-text {
    padding: 0px;
    margin: 0;
    font-size: 14px;
  }
  .card_item_wrapper .image {
    width: 100%;
  }
  .card_item_wrapper .chat-text {
    font-size: 18px;
    clear: left;
    display: block;
    padding-top: 5px;
  }
  .avatar-wrapper {
    margin: 0;
    margin-right: 10px;
  }
  .tweet-author {
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
  }

  .desktop-categories {
    display: block;
  }
  .add-tweet-panel {
    display: none;
  }
  .btnAddTweet {
    display: block;
  }
  .btnMobileSrch {
    display: block;
  }
  .mobile-search {
    display: block;
    clear: left;
    padding: 10px 0;
    width: 100%;
  }
  .desktop-search {
    display: none;
  }
  .user-wrapper {
    padding-top: 0px;
  }
  .back-link {
    float: left;
    margin-right: 10px;
  }
  .back-link2 {
    float: left;
    margin: 10px 0;
  }
  .mobile-search input {
    width: 90%;
    background: #eee;
    border-radius: 80px;
    border: none;
    padding: 4px;
  }
  #tag-input {
    width: 130px;
  }
  .file_upload_wrapper {
    width: 50%;
    margin-top: 30px;
  }
  .tweet-btn-wrapper {
    margin-top: 30px;
  }
  .add-tweet {
    border: none;
  }
  .dropzone_box {
    margin-left: 15px;
  }
  .wrap {
    width: 200px;
  }
  ul.category-nav li {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }
  ul.category-nav li a {
    font-size: 15px;
    margin: 0;
  }
  .mobile {
    display: none;
  }
  .desk {
    display: block;
  }
}

@media (max-width: 500px) {
  .page-wrapper {
    margin-top: 30px;
  }
  .content-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .content h3 {
    margin-left: 15px;
  }
  ul.category-nav {
    width: 90%;
    margin-left: 15px;
  }
  ul.category-nav li {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }
  ul.category-nav li a {
    font-size: 15px;
    margin: 0;
  }
  .content {
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .card_item_wrapper .card-text {
    padding: 0px;
    margin: 0 15px;
  }
  .card_item_wrapper .actions {
    margin: 10px 0 0 15px;
  }
  .avatar-wrapper {
    margin-right: 15px;
  }
  a.chat-text {
    font-size: 18px;
  }
  .Lsidebar {
    display: none;
  }
  .Rsidebar {
    display: none;
  }
  .desktop-categories {
    display: none;
  }
  .mobile {
    display: block;
  }
  .desk {
    display: none;
  }
  .content-wrapper {
    border: none;
  }
  .content-wrapper h3 {
    display: none;
  }
  .tweet-detail .actions {
    width: 100%;
    float: none;
    margin-top: 10px;
  }
  .tweet-detail .edit-buttons-wrapper {
    width: 100%;
    float: none;
    clear: left;
  }
  .card-detail-image {
    margin: 0;
  }
}
